<div>
  <% @paragraphs.each do |paragraph| %>
    <p><%= paragraph.body %></p>
    <%= link_to 'Edit', edit_paragraph_path(paragraph) %>
    <%= link_to 'Destroy', paragraph, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br><br><br>
  <% end %>
</div>

<br>

<%= link_to 'Add Paragraph', new_paragraph_path %>
